.imgCarrosel{
    width: 100%;
    height: 40rem;
}
@media screen and (max-width: 359px) {

}
/*Celulares normais*/
@media screen and (min-width: 360px) and (max-width: 766px) {
    .imgCarrosel{
        width: 100%;
        height: 25rem;
    }
}